
    <!-- Portfolio Grid Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Introduction</h2>
                    <hr class="star-primary">
                    <p> Open Food Facts is a food products database maintained by thousands of volunteers worlwide. The dataset
                      contains information about more than 600,000 products worldwide, going from general information
                      such as the manufacturing country to more specific data such as the ingredients they contain. This dataset
                      contains enough information to be able to analyze not only how nutrition scores are given to products
                      and quantify the eco-friendliness of each country.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="analysis">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Data Exploration</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
    <section id="conclusions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Food Industry Analysis</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>
    </section>
