    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Lausanne, <br>
		                       Switzerland
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Project Course</h3>
                        <p> CS401 - Applied Data Analysis <br>
                            EPFL</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Authors</h3>
                        <p>Ahmed Ahres <br>
                           Ali El Abridi <br>
                           Mathias Goncalves
                         </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
